{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["@babel/transform-runtime", {
      "regenerator": true
    }],
    "add-module-exports",
    "@babel/transform-regenerator",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "transform-object-rest-spread",
    "@babel/transform-async-to-generator"
  ]
}
